<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class="col-xs-6">
    <% if @order_items.size == 0 %>
      <p class="text-center">
        There are no items in your cart.  Please <%= link_to "go back", menu_path %> and add some items to your cart.
      </p>
    <% else %>
      <% @order_items.each do |order_item| %>
        <%= render 'cart/cart_item', food_item: order_item.food_item, order_item: order_item, show_total: true %>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <%= form_for @cur_order, :url => order_update_path(@cur_order.id), :html => {:method => :patch} do |f| %>
        <%= f.text_field :order_name, class: "form-control" %>
        <%= f.text_field :order_phone_number, class: "form-control" %>
        <%= f.text_field :order_address, class: "form-control" %>
        <%= f.text_field :coupon_code, class: "form-control" %>
        <%= f.hidden_field :id, value: @cur_order.id %>
        <%= f.submit "Confirm order", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
