<tr class="order-item">
  <td><strong><%= index+1 %><strong></td>
  <td class="col-xs-4"><%= food_item.name %></td>
  <td class="col-xs-2"><%= number_to_currency food_item.price, :precision => 0 %></td>
  <td>
    <%= form_for order_item, remote: true do |f| %>
      <div class="row">
        <div class="col-xs-5">
          <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
          <%= f.hidden_field :food_item_id, value: food_item.id %>
        </div>
        <div class="col-xs-7">
          <div class="btn-group">
            <%= button_tag(:class => "btn btn-none btn-order") do %>
              <i class="fa fa-exchange"></i>
            <% end %>
            <%= link_to "", order_item, { data: { confirm: "Are you sure you wish to delete the food '#{order_item.food_item.name}' from your cart?" }, method: :delete, remote: true, class: "btn-order fa fa-remove" } %>
          </div>
        </div>
      </div>
    <% end %>
  </td>
  <td class="col-xs-2"><%= number_to_currency order_item.total_price, :precision => 0 %></td>
</tr>

