<p>“Thank you for your order</p>
<p><%= @order.order_name %></p>
<p><%= @order.order_phone_number %></p>
<p><%= @order.order_address %></p>
<p><%= @order.order_name %></p>
<p><%= @order.order_name %></p>
<p><%= @order.order_name %></p>
<p><%= @order.order_name %></p>
