<!-- Control row -->
<div class="text-center">
  <%= form_tag nil, method: 'get', class: 'form-group form-inline' do %>
    <%= hidden_field_tag :section, params[:section] %>
      <%= select_tag :sort, options_for_select([['Name', 'name'], ["Price", 'price'], ["View", 'impressions_count']]), {:class => 'form-control'} %>
      <%= select_tag :dir, options_for_select([['Asc', 'asc'], ["Desc", 'desc']]), {:class => 'form-control'} %>

      <%= submit_tag "Sort", :name => nil, :class => "btn btn-success" %>
  <% end %>
</div>
<!-- End control row -->
