<%= render 'home/menu_slider' %>
<!-- Start Restaurant Menu -->
<section id="mu-restaurant-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-restaurant-menu-area">
          <div class="mu-title">
            <span class="mu-subtitle">Menu</span>
          </div>
          <div class="mu-restaurant-menu-content">
            <div class="card card-block">
              <%= form_tag nil, method: 'get', class: 'form-group form-inline' do %>
                <%= hidden_field_tag :section, params[:section] %>
                  <%= select_tag :sort, options_for_select([['Name', 'name'], ["Price", 'price']]), {:class => 'form-control'} %>
                  <%= select_tag :dir, options_for_select([['Asc', 'asc'], ["Desc", 'desc']]), {:class => 'form-control'} %>
                  <%= submit_tag "Search", :name => nil, :class => "btn btn-secondary" %>

              <% end %>
            </div>

            <form class="form-inline pull-xs-right">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
            <%= submit_tag "Search", :name => nil, :class => "btn btn-outline-success" %>
            </form>
            <ul class="nav nav-tabs mu-restaurant-menu">
              <% @sections.each do |section| %>
                <li><%= link_to section.name, menu_path(section: section.name),
                        class: "nav-link" %></li>
              <% end %>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <% @food_items.each do |fooditem| %>
                <%= render "food_items/food", fooditem: fooditem, order_item: @order_item %>
              <% end %>
            </div>
            <!-- End food content -->
            <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                             <h4 class="modal-title">Modal title</h4>

                        </div>
                        <div class="modal-body"><div class="te"></div></div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Restaurant Menu -->
