<ul class="mu-menu-item-nav">
  <li>
    <div class="media">
      <div class="media-left">
        <%= image_tag("drink/#{@food_item.image_url}_lg.png", size: "225x300", class: "media-object")%>
      </div>

      <div class="media-body">
        <!-- Food info section -->
        <div class="col-md-5">
          <h4 class="media-heading">
            <a href="#"> <%= @food_item.name %></a>
            <span class="mu-menu-price pull-right"><%= number_to_currency @food_item.price/1000, :precision => 0 %></span>
          </h4>

          <p><%= @food_item.description %></p>
        </div>

        <!-- End food info section -->

        <!-- Start comment section -->
        <div class="col-md-7">
          <div class="box">
            <!-- /.box-body -->
            <div class="box-footer box-comments">
              <div class="box-comment">
                <!-- User image -->
                <%= image_tag("avatar/user3-128x128.jpg", size: "45x45", class: "img-circle img-sm") %>

                <div class="comment-text">
                      <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                      <span class="comment-star">
                        <i class="fa fa-star text-yellow"></i>
                        <i class="fa fa-star text-yellow"></i>
                        <i class="fa fa-star text-yellow"></i>
                      </span>
                      <br>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
              <div class="box-comment">
                <!-- User image -->
                <%= image_tag("avatar/user3-128x128.jpg", size: "45x45", class: "img-circle img-sm") %>

                <div class="comment-text">
                      <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                      <span class="comment-star">
                        <i class="fa fa-star text-yellow"></i>
                        <i class="fa fa-star text-yellow"></i>
                        <i class="fa fa-star text-yellow"></i>
                      </span>
                      <br>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </div>
                <!-- /.comment-text -->
              </div>

              <!-- /.box-comment -->
              <div class="box-comment">
                <!-- User image -->
                <%= image_tag("avatar/user4-128x128.jpg", size: "45x45", class: "img-circle img-sm") %>

                <div class="comment-text">
                      <span class="username">
                        Luna Stark
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
              <form action="#" method="post">
                <%= image_tag("avatar/user4-128x128.jpg", size: "45x45", class: "img-circle img-sm") %>
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">
                  <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                </div>
              </form>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- End comment section -->
        </div>
      </div>
    </div>
  </li>
</ul>

